In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [3]:
carros = pd.read_csv('./MOCK_DATA.csv')
carros

                model  consumo_por_km  pneus        data
0   3C4PDDGG5ET466529              85     18   9/29/2019
1   1N4AB7AP4DN959516              81     16   3/20/2020
2   JTDKN3DUXA0587964              97     18  10/25/2019
3   KNADM5A37F6120229              42     15   12/2/2019
4   1FTEW1CM4EK261505              53     17  11/27/2019
5   WVWED7AJ3BW104735              36     14   7/16/2019
6   1G6AG5RX9E0268374              73     13    6/8/2019
7   KNADH4A37B6263853               5     18   2/29/2020
8   19XFA1E84BE770403              98     16   11/4/2019
9   2C3CDXL97FH497271               1     12   11/5/2019
10  SAJWA2GT1EM555303              20     17    1/6/2020
11  WBADR63451G834876              16     13   7/29/2019
12  3N1BC1AP6AL173613              91     15   5/29/2019
13  1FTEX1CM3BK014341              67     13  12/18/2019
14  WP0AB2A88CS118398              30     18   3/13/2020
15  SAJWA4DC9AM757798              83     14   5/25/2019
16  1C6RD6PT6CS912954              99     16   8/27/2019
17  WAUYGAFC3DN932169              33     18   2/25/2020
18  WAULF78K29A947247              88     12    1/5/2020
19  WVWGD7AJ0EW374261              91     16   2/10/2020

In [7]:
carros = pd.read_csv('./MOCK_DATA.csv')
carros.columns = ['Modelo', 'Consumo', 'Pneu', 'Data da viagem']
carros

               Modelo  Consumo  Pneu Data da viagem
0   3C4PDDGG5ET466529       85    18      9/29/2019
1   1N4AB7AP4DN959516       81    16      3/20/2020
2   JTDKN3DUXA0587964       97    18     10/25/2019
3   KNADM5A37F6120229       42    15      12/2/2019
4   1FTEW1CM4EK261505       53    17     11/27/2019
5   WVWED7AJ3BW104735       36    14      7/16/2019
6   1G6AG5RX9E0268374       73    13       6/8/2019
7   KNADH4A37B6263853        5    18      2/29/2020
8   19XFA1E84BE770403       98    16      11/4/2019
9   2C3CDXL97FH497271        1    12      11/5/2019
10  SAJWA2GT1EM555303       20    17       1/6/2020
11  WBADR63451G834876       16    13      7/29/2019
12  3N1BC1AP6AL173613       91    15      5/29/2019
13  1FTEX1CM3BK014341       67    13     12/18/2019
14  WP0AB2A88CS118398       30    18      3/13/2020
15  SAJWA4DC9AM757798       83    14      5/25/2019
16  1C6RD6PT6CS912954       99    16      8/27/2019
17  WAUYGAFC3DN932169       33    18      2/25/2020
18  WAULF78K29A947247       88    12       1/5/2020
19  WVWGD7AJ0EW374261       91    16      2/10/2020

In [8]:
agrupamento_carros = carros['Pneu']
media_pneus = carros.groupby(agrupamento_carros)
media_pneus.mean()

      Consumo
Pneu
12      44.50
13      52.00
14      59.50
15      66.50
16      92.25
17      36.50
18      50.00