In [4]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [5]:
dados = np.arange(8)
dados

# np.random.seed(25)

array([0, 1, 2, 3, 4, 5, 6, 7])

In [7]:
# Reshape

dados.reshape((4, 2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [9]:
# Criando um Series..

index = ['linha 1','linha 2', 'linha 3', 'linha 4','linha 5' ,'linha 6', 'linha 7', 'linha 8' ]

series = Series(dados, index=index)
series

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int64

## # dados1 = np.random.seed(15)

In [15]:

indice = ['linha 1','linha 2', 'linha 3', 'linha 4','linha 5' ,'linha 6' ]
colunas= ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5', 'coluna 6' ]

data_frame = DataFrame(np.random.rand(36).reshape((6,6)), index=indice, columns=colunas)

data_frame

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.678375  0.546339  0.009044  0.774770  0.121425  0.517394
linha 2  0.665752  0.762913  0.940879  0.123988  0.209996  0.365368
linha 3  0.401288  0.590005  0.993915  0.611509  0.683021  0.096211
linha 4  0.434022  0.129159  0.215403  0.850066  0.369989  0.228212
linha 5  0.859933  0.465751  0.678117  0.377876  0.716434  0.365020
linha 6  0.551522  0.586269  0.115388  0.159536  0.745438  0.472342

In [16]:
filter_df = data_frame.loc[['linha 1', 'linha 2'], ['coluna 1', 'coluna 2']]
filter_df

         coluna 1  coluna 2
linha 1  0.678375  0.546339
linha 2  0.665752  0.762913

In [17]:
series['linha 1': 'linha 7']

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
dtype: int64