In [2]:
import pandas as pd;
import numpy as np

from pandas import Series, DataFrame

In [3]:
indice = ['linha 1','linha 2', 'linha 3', 'linha 4','linha 5' ,'linha 6' ]
colunas= ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5', 'coluna 6' ]

data_frame = DataFrame(np.random.rand(36).reshape((6,6)), index=indice, columns=colunas)

data_frame

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.882229  0.391697  0.471158  0.501679  0.313707  0.704250
linha 2  0.207167  0.281997  0.876350  0.807761  0.926413  0.437457
linha 3  0.225751  0.004427  0.355618  0.799969  0.982017  0.553222
linha 4  0.555497  0.051178  0.498428  0.292253  0.603892  0.519249
linha 5  0.868120  0.945863  0.242991  0.133571  0.616941  0.057392
linha 6  0.314372  0.187867  0.546482  0.217139  0.104839  0.691039

In [6]:
data_frame[data_frame> .2]

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.882229  0.391697  0.471158  0.501679  0.313707  0.704250
linha 2  0.207167  0.281997  0.876350  0.807761  0.926413  0.437457
linha 3  0.225751       NaN  0.355618  0.799969  0.982017  0.553222
linha 4  0.555497       NaN  0.498428  0.292253  0.603892  0.519249
linha 5  0.868120  0.945863  0.242991       NaN  0.616941       NaN
linha 6  0.314372       NaN  0.546482  0.217139       NaN  0.691039

In [5]:
indice = ['linha 1','linha 2', 'linha 3', 'linha 4','linha 5' ,'linha 6', 'linha 7', 'linha 8']

series_obj = Series(np.arange(8), index=indice)
series_obj

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int64

coluna 1    0
coluna 2    0
coluna 3    0
coluna 4    0
coluna 5    0
coluna 6    0
dtype: int64